@model IEnumerable<TestAspDotNet.Model.Post>
@{
    ViewData["Title"] = "GetPosts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered border-success text-center">
                <tr>
                    <th colspan="5">
                        <h3 class="text-center">Post</h3>
                    </th>
                </tr>

                <tr>
                    <th colspan="5">
                        <a class="btn btn-success " asp-controller="Post" asp-action="CreatePost">Add New</a>
                    </th>
                </tr>

                <tr>
                    <th >Sr#</th>
                    <th >Title</th>
                    <th >Short Description</th>
                    <th >Category</th>
                    <th >Actions</th>
                </tr>
                @{
                    int i = 0;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="fs-6 text-center">@Convert.ToInt32(++ i)</td>
                            <td class="fs-6 text-center">@item.Title</td>
                            <td class="fs-6 text-center">@item.ShortDescription</td>
                            <td class="fs-6 text-center">@item.Category.Name</td>
                            <td class="fs-6 text-center w-25">
                                <a class="btn-sm btn-success text-decoration-none" asp-controller="Post" asp-action="UpdatePost" asp-route-Id="@item.Id">Edit</a> |
                                <a class="btn-sm btn-success text-decoration-none" asp-controller="Post" asp-action="DetailsPost" asp-route-Id="@item.Id">Details</a> |
                                <a class="btn-sm btn-success text-decoration-none" asp-controller="Post" asp-action="DeletePost" asp-route-Id="@item.Id">Delete</a>
                            </td>


                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>