@model List< TestAspDotNet.Model.PostReaction>
@{
    ViewData["Title"] = "PostReactions";

}

<div class="container my-5">
    <div class="row">
        <div class="col-lg-12  border border-success border-5">
            <table class="table table-bordered mt-3 w-auto">
                <thead>
                    <tr>
                        <th colspan="8"><h1 class="text-success display-1 text-center">Post Reactions</h1></th>
                    </tr>
                    <tr>
                        <th colspan="8"><div class="text-center"><a class="btn btn-success link-light display-6 text-decoration-none align-self-center" asp-controller="Post" asp-action="CreatPostReaction">Create New PostReaction</a></div></th>
                    </tr>
                    <tr>
                        <th class="text-center" scope="col">Sr#</th>
                        <th class="text-center" scope="col">Post Title</th>
                        <th class="text-center" scope="col">Reaction for Post</th>
                        <th class="text-center" scope="col">Reaction By</th>
                        <th class="text-center" scope="col" width="20%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        foreach (var item in Model)
                        {
                            <tr scope="row">
                                <td class="text-center" scope="col">@Convert.ToInt32(++i)</td>
                                <td class="text-center" scope="col">@item.Post.Title</td>
                                <td class="text-center" scope="col">@item.ReactionType.Name</td>
                                <td class="text-center" scope="col">@item.User.Name</td>

                                <td class="text-center w-25" width="20%" scope="col">
                                    <a class="btn-sm btn-success text-decoration-none" asp-controller="Post" asp-action="UpdatePostReaction" asp-route-Id="@item.Id">Edit</a> |
                                    <a class="btn-sm btn-success text-decoration-none" asp-controller="Post" asp-action="DeletePostReaction" asp-route-Id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>

            </table>
        </div>
    </div>
</div>
